* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}
body {
    background-color: #f4f4ef;
}
.name {
    font-size: 2em;
    text-align: center;
    color: #333;
}
.title {
    font-size: 1.2em;
    text-align: center;
    color: #777;
}
ul {
    list-style-type: none;
    margin: 5px;
}
.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    transition-duration: 0.5s;
}
.member:hover {
    box-shadow: 0 0 10px #ccc;
    background-color: #f4f4ef;
    transition-duration: 0.5s;
}
.member a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.album {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    transition-duration: .5s;
}
.album:hover {
    box-shadow: 0 0 10px #ccc;
    background-color: #e5e5d8;
    transition-duration: 0.5s;
}
.album-title {
    font-size: 1.3em;
    color: #333;
    margin: 10px;
}
.album-cover{
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    transition-duration: 0.5s;
}
.album-cover:hover {
    box-shadow: 0 0 10px #ccc;
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.album-link img {
    width: 50px;
    height: 50px;
    margin: 10px;
    transition-duration: 0.5s;
}
.album-link img:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}
